{% extends 'app/base.html' %}
{% load static %}
{% block title %}Password_Reset_Invalid{% endblock title %}
{% block main-content %}
    <div class="container">
        <div class="container-fluid">
        
                        <div class="text-center mb-5">
                            <br><br>
                            <p class="alert alert-danger">The password reset link is invalid. Please request a new one.
                      
                        <a href="/login/" class="btn btn-warning">Go to login</a></p>
                    </div>
                </div>
            </div>
 
    {% endblock main-content %}
