{% extends 'app/base.html' %}
{% load static %}
{% block title %}Password Reset Complete{% endblock title %}
{% block main-content %}
  
        <div class="container">
            <div class="container-fluid">
                       
                            <div class="text-center">
                                <div class="fw-bold-center">
                                    <br><br>
                            <p class="alert alert-success fw-bold">Your password has been set. You can now <a href="/login/">log in</a>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock main-content %}