{% extends 'app/base.html' %}
{% load static %}
{% block title %}Password Reset Complete{% endblock title %}
{% block main-content %}
  
    <div class="container">
        <div class="container-fluid">
            <div class="row my-3">
                <div class="col-sm-12 offset-sm-3">
        <div class="col-sm-6">

            <br><br>
                <form method="post" novalidate class="shadow p-5">
               
                    <h3 class="text-center mb-4">Set New Password</h3>
                    {% csrf_token %}
                    
                        <label for="id_new_password1">New password:</label>
                        <input type="password" name="new_password1" class="form-control" autocomplete="new-password" required aria-describedby="id_new_password1_helptext" id="id_new_password1">
                        <br>
                        <label for="id_new_password2">New password confirmation:</label>
                        <input type="password" name="new_password2" class="form-control" autocomplete="new-password" required id="id_new_password2">
                        
                        
                          <br>
        
                    <button type="submit" class="btn btn-warning">Set new password</button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>        
{% endblock main-content %}
